@model IEnumerable<eManager.Domain.Department>

@{
    ViewBag.Title = "All Departments";
}

<h1>@ViewBag.Title</h1>

<ul><!-- HTML HELPERS vienen con razor -->
    
    @foreach(var department in Model)
    {
        <li>@Html.ActionLink(department.Name, "detail", "department", new { department.Id}, null)</li>                
    }
    
</ul>
